.nav-item:hover{
    text-decoration: none;
  
}
.nav-link{
    text-decoration: none;
    color: white;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
}
.nav-link:hover{
  color: black;
 text-decoration: none;
  transition: all ease 1s;
}


.nav-des{
    display: inline-flex;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #E2f3f5;
    align-items: center;
    justify-content: center;
   
 
  }


  .nav-des img{
    width: 50px;
    height: 50px;
  padding: 10px 0;
    margin: 0 .5rem;
    align-self: center;
    justify-self: center;
    
  }
  .nav-item {
    padding: 0 18px;
    
  }
  .nav-item:hover{
      text-decoration: none;
    
  }
  .nav-link{
      text-decoration: none;
      color: white;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
  }
  .nav-link:hover{
    color: black;
   text-decoration: none;
    transition: all ease 1s;
}


  .h6{
    font-weight: bold;
    text-align: start;
    padding: 5px 0;
}

.all{
  margin: 0 30%;
}


.navMode{

position: sticky;
top: 0;
}




.box{
display: inline-flex;
align-items: center;
justify-content: center;
height: 100%;
position: absolute;
right: 20px;

}



.opt{
text-decoration: none;
color:#E2f3f5;
font-family: 'Montserrat', sans-serif;
font-weight: 700;

}


.opt:link {
text-decoration: none;
}

.opt:hover {
text-decoration: none;
}

.mbar{
display: block;
color: white;
font-family: 'Montserrat', sans-serif;
margin: 30px 10px ;
text-align: center;
padding: 10px 25px;
background-color: black;
border: 2px solid black;
font-size: 1.5rem;
font-weight: 400;
border-radius: 80px;
box-shadow: 0 8px #999;
width: 250px;

}
.mbar:hover{
background-color: white;
transform: translateY(4px);
box-shadow: none;
text-decoration: none;
transition: all ease-in 2s;
color: black;

}
.mbar:active{
transform: translateY(4px);
box-shadow: none;
translate: all .5 ease;
}

.close-btn{


position: absolute;

bottom: 20px;

transition: "all ease-in 2s";
}
.close-btn button{


background-color: transparent;
border: none;
font-size: 3.5rem;
}


.fnt-name{

color: black;
font-size: 12vw;
font-family: 'Nunito', sans-serif;
font-weight: 900;
margin: auto 20px;
text-align: center;


}

.bt{
color: white;
border-radius: 40px;
border: 2px solid black ;
font-family: 'Nunito', sans-serif;
background-color: black;
width: 150px;
height: 50px;
}

.bt:hover{
color: black;
border: 2px solid black ;
background-color: white;
transition:  all ease-in .5s;


}



.menu-btn{
background: none;
border: none;
font-family: 'Montserrat', sans-serif;
}

.mobile-nav{
z-index: 3;
position: fixed;
background-color: #6A097D;

}

.mob-button-div{
margin: 10px 0;
display: flex;

justify-content: center;
align-items: center;

}




@media (max-width: 575.98px) { 

.navbar-brand{
font-size: 1.25rem;
}


}
.main-heading h1 {
   line-height: 1.3em;
   color: #E4F5E5;
   font-family: 'Abril Fatface', cursive;
   text-transform: uppercase;
   text-align: left;
}

.main-heading {

   padding: 15px;
   height: 100%;
   width: 100%;

}

.main-heading-1 {

   font-size: 3.5rem;


}

.main-heading-2 {

   font-size: 2.5rem;


}

.main-heading-3 {

   font-size: 2rem;


}

::-webkit-scrollbar {
   width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
   background: #686EE2;
}

/* Handle */
::-webkit-scrollbar-thumb {
   background: rgb(0, 0, 0);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
   background: #555;
}


.home-image-iphone,
.home-image-camera,
.home-image-headphone {

   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;

   overflow: hidden;

}

.home-image-iphone img {
   border: 2px solid yellow;

   height: 600px;
   width: 70%;

}

.home-image-camera img {

   border: 2px solid yellow;

   height: 400px;
   width: 400px;


}

.home-image-headphone img {




   height: 400px;
   width: 400px;


}

.bar-heading-1 {
   padding: 10px;
   color: #E4F5E5;
   font-family: 'Abril Fatface', cursive;
   text-transform: uppercase;
   font-size: 2.2rem;
   position: absolute;
   top: 0;
   left: 0;

}

.bar-div {

   height: 100%;
   width: 100%;
   display: flex;
   flex-flow: column;
   align-items: center;
   justify-content: center;
   position: relative;
}


.imgSection{

   display :flex;
   align-items: center;
   justify-content: center;
  }



@media (max-width: 575.98px) {


   .main-heading {
      display: flex;
      flex-flow: column;
      justify-content: center;
      height: 40%;
   }

   .main-heading-1 {

      line-height: 1.5rem;
      font-size: 2.3rem;
      padding: 0;
      margin: 0;


   }

   .main-heading-2 {

      line-height: 1.5rem;
      font-size: 1.5rem;
      padding: 0;
      margin: 0;


   }

   .main-heading-3 {

      line-height: 1.5rem;
      font-size: 1.3rem;
      padding: 0;
      margin: 0;


   }


   .home-image-iphone,
   .home-image-camera,
   .home-image-headphone,
   .home-image-camera {

      display: none;


   }



   .bar-div{
      border-top-right-radius: 50px;
      border-top-left-radius: 50px;
      margin: 10px;
      background: white;
      position: relative;
  }
   
  .bar-heading-1{
     display: none;
  }


  .imgSection{

   display :none
  }

}
.Fill {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 auto;
    margin: 0 auto;
}

.Fill input {
    border-radius: 7px;
    width: 200px;
    height: 40px;
    border: none;
    outline: none;
    padding: 0 20px;
    font-family: 'montserrat';
    font-size: 13px;

}

.Fill input::placeholder {
    color: #7a00fd;
    text-transform: capitalize;
}


.Fill button {

    width: 150px;
    height: 45px;
    border-radius: 40px;
    outline: none;
    border: none;
    margin-left: 0;
    margin-right: 0;
    font-family: 'montserrat';
    
}


.Fill button:active {

    transform: translateY(4px);
    outline: none;
    border: none;
}

.Fill-label {
    font-family: 'montserrat';

    text-transform: capitalize;
    top: 0;
    display: flex;
    margin: 10px 10px;
    font-size: 12px;
}

.Fill-Link {
    font-family: 'montserrat';

    text-transform: capitalize;
    top: 0;
    display: flex;
    margin: 10px 10px;
    font-size: 12px;

}

.FillButton-Link {

    font-family: 'montserrat';
    text-align: center;
    text-transform: capitalize;
  justify-content: center;
    display: flex;
    margin: 10px auto;
    font-size: 12px;
   
    outline: none;
    border: none;
    background-color: transparent;
}

.FillButton-Link:hover {

    text-decoration: underline;
}




.FILL-alert {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
   
    width: 350px;
    height: 100px;

    z-index: 12;
    /* border-radius: 20px; */
    background-color: #F1D4D4;
}

.alert-head h6 {
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
    margin: "5px 0";
    font-weight: 900;
  color :#C060A1;
}

.alert-para p {

    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: .8rem;
}

.alert-button {

    position: absolute;

    top: 0;
    right: 0;

}

.Fill-options{
    height: 40px;
    text-transform: uppercase;
}

.Fill-options li{
    padding:0 6px;
    margin:0 0;
    padding:0 10px;
}

.input-class select{

    border-radius: 7px;
    width: 200px;
    height: 40px;
    border: none;
    outline: none;
    padding: 0 30px;
    font-family: 'montserrat';
    font-size: 13px;
    
    
}

.select-selected::after{

 
    padding: 0 10px;

}


.select-color{

    border : 2px solid red;

}


/* mobile input fields price */

.inputMobile{

outline: none;
background: transparent;
padding: 10px;
border: 2px solid #E4F5E5;
color: #E4F5E5;
border-radius: 8px;

}



.inputMobile:hover {



    border: 2px solid #E4F5E5;
    
    
    }




.inputMobile::placeholder{

    color: #E4F5E5;
    font-family: 'montserrat';
}



.form-mobile-container input{
    
    padding: 10px;

}

@media (max-width: 575.98px) { 

  
    
    
    }
.ui.selection.dropdown {

    margin: 20px;
    background: transparent;
    border: 2px solid #E4F5E5;
    outline: none;
    padding: 0 50px;
    color: #E4F5E5;
    border-radius: 10px;
    height: 50px;
    width: 200px;
    font-family: 'Montserrat';
    font-weight: 600;
    text-align: center;


}


@media (max-width: 575.98px) {




.ui.selection.dropdown{
    border: 2px solid #686EE2;

    color: #686EE2;
}


}
