.main-heading h1{
   line-height: 1.3em;
   color: #E4F5E5;
   font-family: 'Abril Fatface', cursive;
   text-transform: uppercase;
   text-align: left;
}

.main-heading{
 
   padding: 15px;

}
.main-heading-1{
  
   font-size: 3.5rem;
   

}
.main-heading-2{
  
   font-size: 2.5rem;
   

}
.main-heading-3{
  
   font-size: 2rem;
   

}


.home-image-iphone , .home-image-camera ,.home-image-headphone{

   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
  height: 100%;
   overflow: hidden;

}

.home-image-iphone img{
   border: 2px solid yellow;
  
 height: 600px;
width: 70%;

}

.home-image-camera img{

   border: 2px solid yellow;
  
   height: 400px;
  width: 400px;


}

.home-image-headphone img{


   border: 2px solid yellow;
  
   height: 400px;
  width: 400px;


}