.main-heading h1{
   line-height: 1.3em;
   color: #E4F5E5;
   font-family: 'Abril Fatface', cursive;
   text-transform: uppercase;
   text-align: left;
}

.main-heading{
 
   padding: 15px;
   height: 100%;
   width: 100%;

}
.main-heading-1{
  
   font-size: 3.5rem;
   

}
.main-heading-2{
  
   font-size: 2.5rem;
   

}
.main-heading-3{
  
   font-size: 2rem;
   

}

::-webkit-scrollbar {
   width: 5px;
 }
 
 /* Track */
 ::-webkit-scrollbar-track {
   background: #686EE2;
 }
 
 /* Handle */
 ::-webkit-scrollbar-thumb {
   background: rgb(0, 0, 0);
 }
 
 /* Handle on hover */
 ::-webkit-scrollbar-thumb:hover {
   background: #555;
 }


.home-image-iphone , .home-image-camera ,.home-image-headphone{

   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;

   overflow: hidden;

}

.home-image-iphone img{
   border: 2px solid yellow;
  
 height: 600px;
width: 70%;

}

.home-image-camera img{

   border: 2px solid yellow;
  
   height: 400px;
  width: 400px;


}

.home-image-headphone img{


 
  
   height: 400px;
  width: 400px;


}

.bar-heading-1{
   padding: 1.2em 1em;
   
   color: #E4F5E5;
   font-family: 'Abril Fatface', cursive;
   text-transform: uppercase;
   font-size: 1.7rem;
   
}

.bar-div{

   height: 100%;
   width: 100%;
}